<h2>List of jobs to do.</h2>
<div ng-controller="TaskListCtrl">
    <ol>
        <li ng-repeat="job in jobListing">
            Name: {{job.Name}}
            Job: {{job.JobName}}
            Time in Queue: {{job.WaitTime}}
        </li>
    </ol>

    <form ng-submit="addJob()" class="form-box">
        <div style="float: right; width: 40%;">
            <h2>Available Jobs</h2>
            <label style="float: left; width: 50%" ng-repeat="job in otherJobListing">
                <input type="radio" value="{{job.Identifier}}" name="actualJob" ng-model="newJobData.desiredJob"/>
                {{job.Name}}

            </label>
        </div>
        <h2>Customer Info</h2>
        <label>
            Customer name
            <input type="text" ng-model="newJobData.name"/>
        </label>
        <br/>
        <label>
            Customer time-rate
            <input type="number" ng-model="newJobData.timeValue"/>
        </label>
        <br/>

        <br/>
        <button type="submit">Add job to queue</button>
    </form>

    <button type="submit" ng-click="popJob()">Take job off queue</button>
</div>
