<div ng-controller="TaskListCtrl">
    <h2>Current BEWT: {{AverageWait}}</h2>
    <h2>Current Balance On Machine: {{Balance | currency}} </h2>
    <h2>List of jobs to do.</h2> <ol>
        <li ng-repeat="job in JobHub.all">
            Name: {{job.Name}}
            Job: {{job.JobName}}
            Time in Queue: {{job.WaitTime}}
            Time Value: {{job.TimeValue | currency}} per hour
            <br />Their balance is: {{job.Balance | currency}}
        </li>
    </ol>

    <form ng-submit="addJob()" class="form-box">
        <div style="float: right; width: 40%;">
            <h2>Provided Services</h2>
            <label style="float: left; width: 50%" ng-repeat="job in availableServices">
                <input type="radio" value="{{job.Identifier}}" name="actualJob" ng-model="newJobData.desiredJob" />
                {{job.Name}}<br />
                Duration: {{job.Length}}
            </label>
        </div>
        <h2>Customer Info</h2>
        <label>
            Customer name
            <input type="text" ng-model="newJobData.name" />
        </label>
        <br />
        <label>
            Customer time-rate
            <input type="number" ng-model="newJobData.timeValue" />
        </label>
        <br />

        <br />
        <button type="submit">Add job to queue</button>
    </form>
    <form ng-submit="popJob()" class="form-box">
        <button type="submit">Take job off queue</button>
        <div>
            <h2>Next Customer</h2>
            Name: {{nextCustomer.Name}}<br />
            Job: {{nextCustomer.JobName}}<br />
            Time in Queue: {{nextCustomer.WaitTime}}<br />
            Customer Paid: ${{-1 * nextCustomer.Balance.toFixed(2)}}<br />
        </div>
    </form>
</div>
